// colors

// primary
$desaturated-dark-cyan: rgb(91, 164, 164);

// neutral
$light-grayish-cyan: rgb(239, 250, 250); // (background)
$light-grayish-cyan: rgb(238, 246, 246); // (filter tablets)
$dark-grayish-cyan: rgb(123, 142, 142);
$very-dark-grayish-cyan: rgb(44, 58, 58);

// typography
$main-font: 'Spartan', sans-serif; // 500, 700
$main-font-size: 15px;