// typography
$font-size: 16px;
$main-font: 'Poppins', sans-serif;  //400, 500, 600, 700

// colors

// primary
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

// accent
$blue: hsl(248, 32%, 49%);

// neutral
$dark-blue: rgb(62, 60, 73);
$grayish-blue: hsl(246, 25%, 77%);
$font-color: hsl(0, 0%, 100%)