// typography

$main-font: arial, sans-serif; // 300, 600, 700
$standard-font-size: 20px;

// colors

// primary
$blue: #4f7df3;

// secondary
$pale-blue: hsl(223, 100%, 88%);
$light-red: #ff5263;

// neutral

$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);