// colors

// primary
$scissors:#ec9e0e;
$paper:#4865f4;
$rock:#dc2e4e;

// neutral
$dark-text: rgb(59, 67, 99);
$score-text: #2a46c0;
$header-outline: #606e85;
$white: #ffffff;
$black: rgb(25, 25, 25);

// background
$radial-gradient: radial-gradient(circle at 50% 0%, #1f3756, #141539);

// fonts

$main-font: 'Roboto', sans-serif;; // 500 700;