* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-image: radial-gradient(circle at 50% 0%, #1f3756, #141539);
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-score {
  width: 750px;
  height: 125px;
  padding: 25px;
  margin: 50px 0;
  border: 3px solid #606e85;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-score img {
  height: 100%;
}

.top-score .score-box {
  background-color: #ffffff;
  width: 150px;
  height: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.top-score .score-box h1 {
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #2a46c0;
}

.top-score .score-box h2 {
  font-size: 64px;
  font-weight: 700;
  color: #3b4363;
}

.choice-pannel {
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 550px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice-pannel .paper {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 25px solid;
  background-image: url(../images/icon-paper.svg);
  border-color: #4865f4;
}

.choice-pannel .scissor {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 25px solid;
  background-image: url(../images/icon-scissors.svg);
  border-color: #ec9e0e;
}

.choice-pannel .rock {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 25px solid;
  background-image: url(../images/icon-rock.svg);
  border-color: #dc2e4e;
}

.play-pannel {
  min-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.play-pannel .player-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-pannel .player-box p {
  padding: 50px 0;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.play-pannel .player-box .player1 {
  background-color: #ffffff;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: 35px solid;
}

.play-pannel .player-box .player2 {
  background-color: #ffffff;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: 35px solid;
  background-color: rgba(25, 25, 25, 0.25);
  border-color: rgba(25, 25, 25, 0);
  background-clip: padding-box;
}

.play-pannel .result-txt {
  min-width: 150px;
  margin-left: 15px;
  text-align: center;
  display: none;
}

.play-pannel .result-txt p {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.play-pannel .result-txt .again-box {
  background-color: #ffffff;
  padding: 15px 50px;
  border-radius: 15px;
  cursor: pointer;
}

.play-pannel .result-txt .again-box p {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #dc2e4e;
}

.display-none {
  display: none;
}

.menu-opacity {
  background-color: rgba(25, 25, 25, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.menu-opacity .rules-menu {
  position: relative;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffffff;
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-opacity .rules-menu .menu-top {
  width: 100%;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-opacity .rules-menu .menu-top p {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3b4363;
}

.menu-opacity .rules-menu .menu-top img {
  cursor: pointer;
  margin-top: 5px;
  width: 25px;
  height: 25px;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .rules {
  cursor: pointer;
  margin: 0 15px 15px 0;
  padding: 10px 25px;
  border: 3px solid #606e85;
  border-radius: 10px;
}

.footer .rules p {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */