/* Primary */
/* Accent */
/* Neutral */
/* Headings, Call-to-actions, Header Navigation */
/* 400 700 */
/* Body */
/* 400 */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.wrap {
  margin-left: 5%;
  margin-right: 5%;
}

/*---------------------------HEADER--------------------------- */
header {
  background-color: white;
}

header nav {
  height: 135px;
}

header nav img {
  width: 100px;
  margin-top: 40px;
}

header nav ul {
  float: right;
}

header nav ul li {
  display: inline-block;
  padding-left: 35px;
  line-height: 135px;
}

header nav ul li a {
  font-family: "Raleway", sans-serif;
  color: #070439;
  font-size: 14px;
  font-weight: 400;
}

header .header-main {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-main .header-div-left {
  width: 50%;
  padding: 100px 0;
}

header .header-main .header-div-left h1, header .header-main .header-div-left p {
  padding-bottom: 15px;
  font-family: "Raleway", sans-serif;
  color: #070439;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

header .header-main .header-div-left p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

header .header-main .header-div-left input, header .header-main .header-div-left button {
  width: 250px;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(191, 191, 191, 0.5);
          box-shadow: 0 0 10px rgba(191, 191, 191, 0.5);
  font-size: 10px;
  color: #bfbfbf;
}

header .header-main .header-div-left button {
  background-color: #3065f8;
  border: 1px solid #3065f8;
  width: 150px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
}

header .header-main .header-div-left button:hover {
  background-color: rgba(48, 101, 248, 0.85);
}

header .header-main .header-div-right {
  width: 50%;
  padding: 50px 0;
}

header .header-main .header-div-right img {
  width: 100%;
}

header img {
  width: 100vw;
  margin-top: 50px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

@media screen and (max-width: 650px) {
  header nav {
    height: 50px;
  }
  header nav img {
    width: 100px;
    margin-top: 10px;
  }
  header nav ul li {
    padding-left: 10px;
    line-height: 50px;
  }
  header .header-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-main .header-div-left {
    width: 100%;
    padding-top: 50px;
    text-align: center;
  }
  header .header-main .header-div-left input, header .header-main .header-div-left button {
    width: 100%;
    height: 35px;
  }
  header .header-main .header-div-right {
    width: 100%;
    padding-bottom: 0;
  }
  header img {
    margin-top: 0;
  }
}

/*---------------------------Main--------------------------- */
main {
  background-color: #f6f6fe;
  padding: 50px 0 75px 0;
}

main .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

main .main-top .main-txt {
  width: 55%;
}

main .main-top .main-txt h1, main .main-top .main-txt p {
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  color: #070439;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

main .main-top .main-txt p, main .main-top .main-txt a {
  padding-bottom: 10px;
  max-width: 400px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

main .main-top .main-txt a {
  display: inline-block;
  width: auto;
  padding-bottom: 0;
  border-bottom: 1px solid #3c9f8f;
  color: #3c9f8f;
}

main .main-top .main-txt a img {
  margin: 0 0 -3px 3px;
  width: 15px;
}

main .main-top .main-txt .main-card {
  background-color: white;
  width: 250px;
  padding: 20px;
  margin-top: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(191, 191, 191, 0.5);
          box-shadow: 0 0 10px rgba(191, 191, 191, 0.5);
}

main .main-top .main-txt .main-card img {
  width: 15px;
}

main .main-top .main-txt .main-card p {
  width: auto;
  padding: 10px 0 15px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

main .main-top .main-txt .main-card .card-perfil img {
  float: left;
  width: 25px;
  margin-right: 5px;
  border-radius: 50%;
}

main .main-top .main-txt .main-card .card-perfil h3, main .main-top .main-txt .main-card .card-perfil h4 {
  font-family: "Raleway", sans-serif;
  color: #070439;
  font-size: 12px;
  font-weight: 700;
}

main .main-top .main-txt .main-card .card-perfil h4 {
  font-size: 10px;
  font-weight: 400;
}

main .main-top .div-50 {
  width: 45%;
}

main .main-top .div-50 img {
  margin-top: 10px;
  width: 100%;
}

@media screen and (max-width: 650px) {
  main .main-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main-top .main-txt {
    width: 100%;
    text-align: center;
  }
  main .main-top .main-txt h1 {
    font-size: 16px;
  }
  main .main-top .main-txt p {
    text-align: justify;
  }
  main .main-top .main-txt .main-card {
    display: inline-block;
    text-align: left;
  }
  main .main-top .div-50 {
    margin-bottom: 50px;
    width: 100%;
  }
}

/*-------------------------section-info------------------------- */
.section-back-color {
  background-color: #585989;
}

.section-back-color .section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.section-back-color .section-info .info-txt {
  width: 50%;
}

.section-back-color .section-info .info-txt h2, .section-back-color .section-info .info-txt p {
  padding-bottom: 15px;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.section-back-color .section-info .info-txt p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.section-back-color .section-info .info-box {
  width: 40%;
  margin: 20px 0 0 20px;
}

.section-back-color .section-info .info-box input, .section-back-color .section-info .info-box button {
  width: 80%;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(7, 4, 57, 0.25);
          box-shadow: 0 0 10px rgba(7, 4, 57, 0.25);
  font-size: 10px;
  color: #bfbfbf;
}

.section-back-color .section-info .info-box button {
  background-color: #3065f8;
  border: 1px solid #3065f8;
  width: 175px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
}

.section-back-color .section-info .info-box button:hover {
  background-color: rgba(48, 101, 248, 0.85);
}

@media screen and (max-width: 650px) {
  .section-back-color .section-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .section-back-color .section-info .info-txt {
    width: 100%;
  }
  .section-back-color .section-info .info-txt h2 {
    font-size: 16px;
  }
  .section-back-color .section-info .info-box {
    width: 90%;
    margin: 20px 0 0 20px;
  }
  .section-back-color .section-info .info-box input, .section-back-color .section-info .info-box button {
    width: 100%;
  }
}

/*-------------------------footer------------------------- */
footer {
  background-color: #070439;
  padding: 50px 0;
}

footer img {
  margin-left: 5%;
  margin-bottom: 20px;
}

footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-flex .footer-a {
  min-width: 200px;
}

footer .footer-flex .footer-a img {
  float: left;
  margin: 5px 10px 0 0;
}

footer .footer-flex .footer-a p {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
}

footer .footer-flex .footer-b, footer .footer-flex .footer-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-flex .footer-b a, footer .footer-flex .footer-c a {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
}

footer .footer-flex .footer-d {
  min-width: 150px;
}

footer .footer-flex .footer-d img {
  margin-left: 10px;
}

@media screen and (max-width: 650px) {
  footer .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-flex .footer-a {
    padding-bottom: 20px;
  }
  footer .footer-flex .footer-a img {
    margin-top: 10px;
  }
  footer .footer-flex .footer-a p {
    font-size: 16px;
    line-height: 35px;
  }
  footer .footer-flex .footer-b, footer .footer-flex .footer-c {
    padding-bottom: 20px;
  }
  footer .footer-flex .footer-b a, footer .footer-flex .footer-c a {
    font-size: 18px;
    line-height: 35px;
  }
  footer .footer-flex .footer-d {
    text-align: center;
  }
  footer .footer-flex .footer-d img {
    margin: 10px;
  }
}

/*-------------------------extra------------------------- */
.attribution {
  background-color: #f6f6fe;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #070439;
  text-align: center;
}

.attribution a {
  color: #3065f8;
}
/*# sourceMappingURL=style.css.map */