// colors

// primary
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$alpha-red: rgba(133, 16, 45, 0.1);

// neutral
$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$very-darker-blue: rgb(25, 26, 36);

// typography

$main-font: 'Red Hat Text', sans-serif; // 700
$main-font-size: 14px;