// colors

// primary
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

// neutral
$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$very-dark-blue: hsl(234, 17%, 12%);

// typography

$main-font: 'Red Hat Text', sans-serif; // 700
$main-font-size: 14px;